
* {
  margin: 0;
  padding: 0;
 box-sizing: border-box; 
}

h1 { 
  color:blue;
  text-align: center;}

.error-paragraph {
  color: rgba(17, 145, 134, 0.737); 
}
.primary-paragraph {
  color:darkblue
}
#main-text {
  color:green
}
p[yellow] {color:red;} 
 
.btn  {
  color:antiquewhite;
 padding: 5px 15px;
 border-radius: 5px;
 margin: 5px;
  border: 0;
  outline: 0;
  background-color:rgb(56, 143, 214);
  cursor: pointer; 
 transition: border-radius .3s, background-color 2s; 
}

.btn:hover {
  border-radius:  15px;
  background-color: rgb(234, 0, 255);
  transition: border-radius .3s, background-color 2s; 
} 
.btn:active {
background-color: #000000; 
}

.test {
  width: 400px;
  height: 100px;
  background: #6d6d6d;
  border: 5px solid red;
  padding: 25px;
  overflow-y: hidden;
  overflow-x: auto;
 }
 
 .test2 {
  width: 500px;
 }

.img_wrapper {
  width: 350px;
  height: 250px;
  overflow: hidden;
  margin: 50px 0;
}

.img {width: 100%;
  height: 100%;
  transition: transform .5s ease-in-out;
}

.img_wrapper:hover .img {
  transform: scale(110%);
}

.loader {
border: 5px red solid;
border-bottom-color: transparent;
width: 100px;
height: 100px;
border-radius: 50%;
animation: spin 2s ease-in-out infinite;
} 

@keyframes spin {
  to{
 transform: rotate(360deg);


  }
}